In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv(r"D:\PycharmProjects\pythonProject\ML_LAB\LAB_2\faa_ai_prelim.csv")

In [6]:
df.head()

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['EVENT_LCL_TIME'] = df['EVENT_LCL_TIME'].str.replace('Z', '', regex=False)
df['EVENT_DATETIME'] = pd.to_datetime(df['EVENT_LCL_DATE'] + ' ' + df['EVENT_LCL_TIME'],errors='coerce', format='%d-%b-%y %H:%M:%S')

In [8]:
df['EVENT_DATETIME']

0    2016-02-19 00:45:00
1    2016-02-18 23:55:00
2    2016-02-18 22:14:00
3    2016-02-18 17:10:00
4    2016-02-18 00:26:00
             ...
78   2015-12-31 17:00:00
79   2016-02-05 11:17:00
80   2016-02-05 23:02:00
81   2016-02-05 23:02:00
82   2016-02-02 01:52:00
Name: EVENT_DATETIME, Length: 83, dtype: datetime64[ns]

In [9]:
columns_needed = [
    'EVENT_DATETIME',
    'ACFT_MAKE_NAME',
    'LOC_STATE_NAME',
    'ACFT_MODEL_NAME',
    'RMK_TEXT',
    'FLT_PHASE',
    'EVENT_TYPE_DESC',
    'FATAL_FLAG',
    'ACFT_DMG_DESC'
]
new_df = df[columns_needed].copy()

In [10]:
new_df.info()
new_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EVENT_DATETIME   83 non-null     datetime64[ns]
 1   ACFT_MAKE_NAME   78 non-null     object
 2   LOC_STATE_NAME   83 non-null     object
 3   ACFT_MODEL_NAME  79 non-null     object
 4   RMK_TEXT         83 non-null     object
 5   FLT_PHASE        82 non-null     object
 6   EVENT_TYPE_DESC  83 non-null     object
 7   FATAL_FLAG       8 non-null      object
 8   ACFT_DMG_DESC    74 non-null     object
dtypes: datetime64[ns](1), object(8)
memory usage: 6.0+ KB

,EVENT_DATETIME,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG,ACFT_DMG_DESC
0,2016-02-19 00:45:00,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes,Unknown
1,2016-02-18 23:55:00,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NaN,Unknown
2,2016-02-18 22:14:00,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NaN,Minor
3,2016-02-18 17:10:00,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NaN,Unknown
4,2016-02-18 00:26:00,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NaN,Minor

In [11]:
new_df['FATAL_FLAG'] = new_df['FATAL_FLAG'].fillna('No')
new_df['FATAL_FLAG']

0     Yes
1      No
2      No
3      No
4      No
     ...
78     No
79    Yes
80    Yes
81    Yes
82    Yes
Name: FATAL_FLAG, Length: 83, dtype: object

In [13]:
fill = new_df['FLT_PHASE'].mode()
fill

0    LANDING (LDG)
Name: FLT_PHASE, dtype: object

In [15]:
mode = fill[0]
mode

'LANDING (LDG)'

In [16]:
new_df['FLT_PHASE'] = new_df['FLT_PHASE'].fillna(mode)
fill1 = new_df['ACFT_DMG_DESC'].mode()
mode1 = fill1[0]
new_df['ACFT_DMG_DESC'] = new_df['ACFT_DMG_DESC'].fillna(mode1)

In [19]:
#print(new_df.shape)
new_df.dropna(subset=['ACFT_MAKE_NAME', 'ACFT_MODEL_NAME'], inplace=True)
new_df.shape

(77, 9)

(77, 9)

In [20]:
new_df.isnull().sum()

EVENT_DATETIME     0
ACFT_MAKE_NAME     0
LOC_STATE_NAME     0
ACFT_MODEL_NAME    0
RMK_TEXT           0
FLT_PHASE          0
EVENT_TYPE_DESC    0
FATAL_FLAG         0
ACFT_DMG_DESC      0
dtype: int64

In [21]:
airplane_name = new_df['ACFT_MAKE_NAME'].value_counts()
print(airplane_name)

ACFT_MAKE_NAME
CESSNA                    23
PIPER                     10
BEECH                      9
MOONEY                     4
BOEING                     3
BELL                       2
CHAMPION                   2
SOCATA                     2
LANCAIR                    2
GLOBE                      1
VANS                       1
CHRISTEN                   1
HUGHES                     1
FAIRCHILD                  1
CONSOLIDATED VULTEE        1
GREAT LAKES                1
SAAB                       1
MAULE                      1
EMBRAER                    1
PITTS                      1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
GRUMMAN                    1
GULFSTREAM                 1
FLIGHT DESIGN              1
AERO COMMANDER             1
SABRELINER                 1
AERONCA                    1
NORTH AMERICAN             1
Name: count, dtype: int64

In [22]:
fatal_obs = new_df[new_df['FATAL_FLAG'] == 'Yes']
print(fatal_obs)

        EVENT_DATETIME  ACFT_MAKE_NAME  LOC_STATE_NAME ACFT_MODEL_NAME  \
0  2016-02-19 00:45:00           BEECH  North Carolina              36
53 2016-02-11 11:32:00           PIPER         Florida            PA28
55 2016-02-11 00:17:00   FLIGHT DESIGN      California            CTLS
79 2016-02-05 11:17:00  NORTH AMERICAN         Arizona             F51
80 2016-02-05 23:02:00        CHAMPION      California           8KCAB
81 2016-02-05 23:02:00           BEECH      California              35
82 2016-02-02 01:52:00          CESSNA         Alabama             182

                                             RMK_TEXT      FLT_PHASE  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...  UNKNOWN (UNK)
53  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...  UNKNOWN (UNK)
55  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...  UNKNOWN (UNK)
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...  UNKNOWN (UNK)
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...  UNKNOWN (UNK)
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...  UNKNOWN (UNK)
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...  UNKNOWN (UNK)

   EVENT_TYPE_DESC FATAL_FLAG ACFT_DMG_DESC
0         Accident        Yes       Unknown
53        Accident        Yes     Destroyed
55        Accident        Yes     Destroyed
79        Accident        Yes     Destroyed
80        Accident        Yes     Destroyed
81        Accident        Yes     Destroyed
82        Accident        Yes       Unknown

In [23]:
print(len(fatal_obs))

7

In [24]:
unique_cateogery = new_df['ACFT_DMG_DESC'].unique()
print(unique_cateogery)

['Unknown' 'Minor' 'Substantial' 'Destroyed']

In [27]:
for cat in unique_cateogery:
    col_name = f"DMG_{cat}"
    new_df[col_name] = (new_df['ACFT_DMG_DESC'] == cat).astype(int)

In [28]:
new_df[0:5]

,EVENT_DATETIME,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG,ACFT_DMG_DESC,DMG_Unknown,DMG_Minor,DMG_Substantial,DMG_Destroyed
0,2016-02-19 00:45:00,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes,Unknown,1,0,0,0
1,2016-02-18 23:55:00,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,No,Unknown,1,0,0,0
2,2016-02-18 22:14:00,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,No,Minor,0,1,0,0
3,2016-02-18 17:10:00,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,No,Unknown,1,0,0,0
4,2016-02-18 00:26:00,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,No,Minor,0,1,0,0

In [29]:
new_df.drop(columns=[f"DMG_Unknown"], inplace=True)

In [30]:
def extract_phase(text):
    if pd.isnull(text):
        return 'UNKNOWN'
    phases = ['LANDING', 'TAKEOFF', 'CRUISE', 'APPROACH']
    for phase in phases:
        if phase in text.upper():
            return phase
    return 'UNKNOWN'

new_df['FLIGHT_PHASE_TEXT'] = new_df['RMK_TEXT'].apply(extract_phase)

In [31]:
new_df['FLIGHT_PHASE_TEXT']

0     UNKNOWN
1     LANDING
2     UNKNOWN
3     LANDING
4     LANDING
       ...
78    LANDING
79    UNKNOWN
80    UNKNOWN
81    UNKNOWN
82    UNKNOWN
Name: FLIGHT_PHASE_TEXT, Length: 77, dtype: object

In [32]:
comparison = pd.DataFrame({
    'Original_Phase': new_df['FLT_PHASE'],
    'Text_Phase': new_df['FLIGHT_PHASE_TEXT']
})
print(comparison.head(20))

    Original_Phase Text_Phase
0    UNKNOWN (UNK)    UNKNOWN
1    LANDING (LDG)    LANDING
2   APPROACH (APR)    UNKNOWN
3    LANDING (LDG)    LANDING
4    LANDING (LDG)    LANDING
5    UNKNOWN (UNK)    UNKNOWN
6    LANDING (LDG)    LANDING
7    LANDING (LDG)    LANDING
8    TAKEOFF (TOF)    UNKNOWN
10   LANDING (LDG)    LANDING
12   LANDING (LDG)    LANDING
13   LANDING (LDG)    LANDING
14   TAKEOFF (TOF)    TAKEOFF
15   LANDING (LDG)    UNKNOWN
16   TAKEOFF (TOF)    TAKEOFF
17   LANDING (LDG)    LANDING
18   TAKEOFF (TOF)    UNKNOWN
19   LANDING (LDG)    LANDING
20   LANDING (LDG)    LANDING
21   UNKNOWN (UNK)    UNKNOWN